[Unit]
Description=EdgeGuard Sensor Hub Daemon
After=multi-user.target
Wants=multi-user.target


[Service]
Type=simple
ExecStartPre=/usr/local/sbin/load_modules.sh
ExecStart=/imx6ull/app/sensor_hubd --key /dev/input/event0
Restart=always
RestartSec=3
User=root
WorkingDirectory=/root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
